<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/Chapter.css" type="text/css">
</head>
<body>
    <header>
        <div class="menu-left">
            <a href="#"><img src="/images/Story Haven.png" alt=""></a>
            <div class="story-name"><a href="#">Trùng Sinh Vả Mặt: Được Chồng Dung Túng</a></div>
        </div>
        <div class="menu-right">
            <div class="vote" id="Vote"><i class="fas fa-star"></i>Bình chọn</div>
        </div>
    </header>

    <div class="box">
        <div class="box-infor">
            <div class="tieu-de">Chap 1: Trùng sinh, tình cờ trở thành thuốc giải</div>
            <div class="container">
                <div class="story-stat">
                    <div class="view">
                        <div class="interaction-icon">
                            <i class="fas fa-eye"></i>
                        </div>
                        <div class="interaction-count">1.3M</div>
                    </div>

                    <div class="vote">
                        <div class="interaction-icon">
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="interaction-count">43.6K</div>
                    </div>
                </div>
            </div>
            <div class="noi-dung">
                <div>Ân Mặc Dao bàng hoàng giật mình tỉnh dậy trong căn phòng mờ tối chẳng ánh đèn. Hoang mang phóng tầm nhìn quan sát mọi thứ và từ từ nhận định lại từng chuyện một.</div>
                <div>Chuyện gì xảy ra vậy? Rõ ràng trước đó Ân Mặc Dao cô đã bị đôi tra nam tiện nữ Phương Quảng Trọng và Ân Hiên Viên đẩy xuống vực sâu, trước khi nhắm mắt xuôi tay, cô chỉ ước mong thời gian có thể quay trở lại để ngăn cản bi kịch xuất hiện, lẽ nào ông trời thật sự thương xót, cho cô được tái sinh lần nữa?</div>
                <div>Vội vã tìm điện thoại xem lại ngày tháng, Ân Mặc Dao hoàn toàn sửng sốt khi nhận thấy bản thân đã thật sự xuyên không trở về thời gian một tuần trước. Cái đêm cô bị chị gái cùng cha khác mẹ của mình gài bẫy, tâm cơ sắp xếp đưa cô lên giường một lão già háo sắc đáng tuổi cha chú. Sau đó, sẽ đến lượt Ân Doãn và Phương Quảng Trọng đích thân chạy đến bắt gian tại trận, để rồi ông ta lôi cô về nhà, đánh đập, giam cầm suốt gần tuần lễ, đỉnh điểm là còn nhẫn tâm cắt đứt quan hệ, đuổi ra khỏi nhà.</div>
                <div>Sau đó nữa thì sao? Là lúc Ân Hiên Viên lo sợ mai này cô lại quay về đòi chia quyền thừa hưởng tài sản, nên tiếp tục cùng tên tra nam Phương Quảng Trọng lừa cô đến ngọn núi nằm ngoài vùng thành phố để sát hại.</div>
                <div>Nhưng không sao. Ông trời có mắt đã cho cô trùng sinh sống lại lần nữa, còn có tâm giúp cô một vé xuyên không đúng lúc chưa bị người ta làm hại thân thể thế này, đương nhiên cô phải tận dụng cơ hội nghịch tập cho thật tốt.</div>
                <div>Lấy lại được tinh thần, Ân Mặc Dao lập tức tìm quần áo mình đã mặc trước đó để thay ra chiếc váy ngủ mỏng manh trên người, nhưng tuyệt nhiên không tìm thấy, lúc vô tình mới nhìn trúng chiếc túi rác có chứa bộ quần áo cũ của mìn trong đó. Nếu cô nhớ không lầm, ít phút nữa thôi lão già biến thái kia sẽ vào tới, quần áo giờ cũng không thể mặc nữa, thì hà cớ chi phải nán lại nơi này? Nhanh chân rời khỏi đây, thay đổi cục diện chẳng phải tốt hơn sao?</div>
                <div>Nghĩ là làm, Ân Mặc Dao vội mang theo điện thoại và nhanh chóng rời đi. Đúng lúc vừa ra khỏi cửa, chẳng biết trời xui đất khiến thế nào, lại để cô va phải một người đàn ông, tệ hơn là còn ngã hẳn vào lòng anh ta. Giây phút đó, ánh mắt hai người giao nhau. Người kinh ngạc, kẻ mông lung, nhưng tầm mắt phóng tới cô gái lại chứa đầy dục vọng.</div>
                <div>Nếu cô nhớ không lầm, thì người đàn ông này chẳng phải chú út của tên bạn trai cũ của cô sao? Phương Cảnh Đình, người thừa kế tập đoàn Phương thị trong tương lai.</div>
                <div>Bỗng lúc này, trong đầu Ân Mặc Dao liền lóe lên một ý tưởng táo bạo. Cô biết, muốn đối phó với đôi tra nam tiện nữ kia, trước tiên cần phải có một chỗ dựa vững chắc từ địa vị, cho tới gia thế. Nay ông trời cho cô va vào lòng một người có đầy đủ những thứ cô cần như Phương Cảnh Đình, thì tất nhiên phải biết nắm bắt cơ hội cho thật tốt.</div>
                <div>Ân Mặc Dao vừa nghĩ xong, cũng đúng lúc bị người đàn ông kéo vào căn phòng cô vừa chạy khỏi ở ngay đó. Phối hợp khóa trái cửa, đến lúc bị anh ta đè xuống giường, cô vẫn giữ vững thần thái bình tĩnh. Cơ thể anh rất nóng, thời tiết rõ lạnh nhưng trán lại đổ đầy mồ hôi, Phương Cảnh Đình liên tục nuốt nước bọt kể từ khi bắt gặp hình ảnh Ân Mặc Dao, rõ ràng anh đã bị trúng thuốc. Suy cho cùng, đó cũng là chuyện riêng của anh, cô chỉ quan tâm người đàn ông ấy có giúp cô đạt được mục đích hay không?</div>
                <div>"Anh là ai? Anh... anh muốn làm gì tôi?" Ân Mặc Dao giả vờ ngây thơ, khẽ khàng hỏi.</div>
                <div>Trong khi đó, trước mắt Phương Cảnh Đình lúc này đã mờ rõ mông lung không cố định. Chất kích thích trong người anh đang càng lúc hoành hành dữ dội, khi nhìn vào vùng cổ trắng mịn noãn nà của cô gái, anh lại bất giác nuốt nước bọt, yết hầu nam tính chuyển động một cách nóng bỏng, cuối cùng cũng đến lúc không kìm chế được nữa mà phải tháo bỏ cà vạt, mở liền mấy chiếc cúc áo, rồi bất chấp hậu quả lao vào thân xác kiều diễm ấy.  Cùng lắm thì bốc bánh trả tiền, anh chỉ kịp nghĩ có vậy là đã đem cơ thể Ân Mặc Dao ra làm chất giải thuốc. Đối với Phương Cảnh Đình, anh xem cô là giao dịch trao đổi. Chứ với Ân Mặc Dao, thì từ khi va chạm đã quyết định sẽ dính chặt vào anh không buông.</div>
                <div>Bẫy trong bẫy, để rồi xem cái bẫy này úp sọt được ai?</div>
                <div>30 năm rồi. 30 năm Phương Cảnh Đình gìn giữ, không ngờ một phút sơ ý lại bị mẹ ruột tính kế.</div>
                <div>Anh không cam tâm.</div>                
            </div>
        </div>
    </div>

    <!--Điều khiển-->
    <div class="footer">
        <button onclick="backChapter()" class="after">Chương trước</button>
        <button onclick="nextChapter()" class="after">Chương sau</button>
    </div>

    <!--Menu chương-->
    <div class="menu">
        <i class="fa fa-bars"></i>
        <div class="chap">
            <div class="box-chap">
             
            </div>
        </div>
    </div>

    <!--Bình luận-->
    <div class="title-cmt">Bình luận</div>
    <div class="cmt">
        <div class="box-cmt">
            <form id="commentForm" class="row">
                <div class="col-10"><textarea id="commentInput" placeholder="Nhập bình luận của bạn..." required></textarea></div>
                <div class="col-2"><button type="submit"><i class="fas fa-paper-plane"></i></button></div>
            </form>
            <div id="commentsList">
                <h3>Các bình luận:</h3>
                <ul id="comments"></ul>
            </div>
        </div>
    </div>

    <script src="/javascript/Chapter.js" type="text/javascript"></script>
</body>
</html>