<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trùng Sinh Vả Mặt: Được Chồng Dung Túng</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/Story_information.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="../images/Book Haven (3).png" alt="Story Haven">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCategory" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Thể loại
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownCategory">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Comedy</a></li>
                            <li><a class="dropdown-item" href="#">Drama</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/my-story">Tác phẩm của tôi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/library">Thư viện</a>
                    </li>
                </ul>
                <form class="d-flex search-form">
                    <input class="form-control me-2" type="search" placeholder="Tìm kiếm" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit"><i class="fas fa-search"></i></button>
                </form>
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAccount" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="../images/schwi.png" alt="Avatar" class="rounded-circle" style="width: 30px; height: 30px; margin-right: 5px;">
                        <span id="profileName"></span> 
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownAccount">
                        <li><a class="dropdown-item" href="Account.html">Hồ sơ của tôi</a></li>
                        <li><a class="dropdown-item" href="/login">Đăng xuất</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <!-- Thông tin truyện -->
    <div class="story" style="background-image: url(../images/manhphi.jpg);">
        <div class="story-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 cover-photo">
                        <img src="../images/manhphi.jpg" alt="Cover Photo">
                    </div>
                    <div class="col-md-8 story-infor">
                        <h1 class="story-name">Trùng Sinh Vả Mặt: Được Chồng Dung Túng</h1>
                        <ul class="list-unstyled">
                            <li>Tác giả: Đường Nguyệt Y</li>
                            <li>Thể loại: Hôn nhân ngược luyến, Nữ cường, Cuộc sống đô thị</li>
                        </ul>
                        <p>Ân Mặc Dao vốn là nhị tiểu thư của Ân gia, nhưng vì sinh ra đã là phận con vợ lẻ, mà lại là con gái nên chẳng được coi trọng. Mẹ mất sớm, ba không thương, có mỗi người bạn trai để chia sẻ buồn vui, vậy mà hắn ta lại nỡ lòng tằng tịu với chị gái cùng cha khác mẹ, hại chết cô trong uất ức, tủi hận.
                            Trước khi chính thức rời khỏi nhân thế, cô chỉ ước mong sao cho thời gian có thể quay ngược trở lại để được trừng trị tra nam tiện nữ.
                            Nào ngờ, ông trời hiểu thấu lòng người trẻ đáng thương. Chẳng những cho cô trọng sinh sống lại, mà còn đưa cô xuyên không trở về thời khắc trước khi bi kịch xảy ra một tuần.
                            Nếu kiếp trước làm người yêu đã bị hại chết, vậy kiếp này cô quyết định đeo bám "chú nhỏ" đẹp trai của tình cũ, bắt hắn phải gọi mình bằng thím, rửa sạch mối thù.</p>
                        <div class="d-flex align-items-center">
                            <div class="interaction-container">
                                <i class="fas fa-eye"></i> 1.3M
                            </div>
                            <div class="interaction-container">
                                <i class="fas fa-star"></i> 43.6K
                            </div>
                        </div>
                        <div class="mt-3">
                            <a href="Chapter.html" class="btn btn-read">Đọc từ chương 1</a>
                            <button class="btn btn-follow" id="Follow"><i class="fa fa-heart"></i> Theo dõi</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Danh sách chương-->
    <div class="container chapter-list">
        <h2>Các chương truyện</h2>
        <div class="list-group">
            <a href="Chapter.html" class="list-group-item list-group-item-action episode">
                <span class="episode-item-num">1</span>
                <span class="episode-item-title">CHAP 01: TRÙNG SINH, TÌNH CỜ TRỞ THÀNH THUỐC GIẢI</span>
            </a>
            <a href="Chapter.html" class="list-group-item list-group-item-action episode">
                <span class="episode-item-num">2</span>
                <span class="episode-item-title">CHAP 02: NGƯỜI CỦA TÔI</span>
            </a>
            <a href="Chapter.html" class="list-group-item list-group-item-action episode">
                <span class="episode-item-num">3</span>
                <span class="episode-item-title">CHAP 03: CÔ GÁI TÂM CƠ</span>
            </a>
            <a href="Chapter.html" class="list-group-item list-group-item-action episode">
                <span class="episode-item-num">4</span>
                <span class="episode-item-title">CHAP 04: CƯỚI NGAY KẺO MUỘN</span>
            </a>
            <a href="Chapter.html" class="list-group-item list-group-item-action episode">
                <span class="episode-item-num">5</span>
                <span class="episode-item-title">CHAP 05: SO RA, TÔI VẪN ĐẸP HƠN ANH</span>
            </a>
            <a href="Chapter.html" class="list-group-item list-group-item-action episode">
                <span class="episode-item-num">6</span>
                <span class="episode-item-title">CHAP 06: KẺ LẬP DỊ</span>
            </a>
            <a href="Chapter.html" class="list-group-item list-group-item-action episode">
                <span class="episode-item-num">7</span>
                <span class="episode-item-title">CHAP 07: LẤY LÒNG VÀ TẤM LÒNG</span>
            </a>
            <a href="Chapter.html" class="list-group-item list-group-item-action episode">
                <span class="episode-item-num">8</span>
                <span class="episode-item-title">CHAP 08: ÂN MẶC DAO, ĐÃ THAY ĐỔI</span>
            </a>
            <a href="Chapter.html" class="list-group-item list-group-item-action episode">
                <span class="episode-item-num">9</span>
                <span class="episode-item-title">CHAP 09: CHÁU DÂU TƯƠNG LAI</span>
            </a>
            <a href="Chapter.html" class="list-group-item list-group-item-action episode">
                <span class="episode-item-num">10</span>
                <span class="episode-item-title">CHAP 10: ĐỘNG CHÂN ĐỘNG TAY</span>
            </a>
            <a href="Chapter.html" class="list-group-item list-group-item-action episode">
                <span class="episode-item-num">11</span>
                <span class="episode-item-title">CHAP 11: TRÁNH XA CỐ ẤY MỘT CHÚT</span>
            </a>
            <a href="Chapter.html" class="list-group-item list-group-item-action episode">
                <span class="episode-item-num">12</span>
                <span class="episode-item-title">CHAP 12: GHÉT CỦA NÀO TRỜI TRAO CỦA ĐÓ</span>
            </a>
        </div>
    </div>

    <div class="container related-stories">
        <h2>Bạn cũng có thể thích</h2>
        <div class="row">
            <a href="Story_information.html" class="col-6 col-md-3 mb-3">
                <div class="card">
                    <img src="../images/manhphi.jpg" class="card-img-top" alt="Related Story">
                    <div class="card-body">
                        <h5 class="card-title">Manh Phi Tập Kích: Gấu Trúc Trên Trời Rơi Xuống</h5>
                    </div>
                </div>
            </a>
            <a href="Story_information.html" class="col-6 col-md-3 mb-3">
                <div class="card">
                    <img src="../images/manhphi.jpg" class="card-img-top" alt="Related Story">
                    <div class="card-body">
                        <h5 class="card-title">Manh Phi Tập Kích: Gấu Trúc Trên Trời Rơi Xuống</h5>
                    </div>
                </div>
            </a>
             <a href="Story_information.html" class="col-6 col-md-3 mb-3">
                <div class="card">
                    <img src="../images/manhphi.jpg" class="card-img-top" alt="Related Story">
                    <div class="card-body">
                        <h5 class="card-title">Manh Phi Tập Kích: Gấu Trúc Trên Trời Rơi Xuống</h5>
                    </div>
                </div>
            </a>
             <a href="Story_information.html" class="col-6 col-md-3 mb-3">
                <div class="card">
                    <img src="../images/manhphi.jpg" class="card-img-top" alt="Related Story">
                    <div class="card-body">
                        <h5 class="card-title">Manh Phi Tập Kích: Gấu Trúc Trên Trời Rơi Xuống</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="row">
            <a href="Story_information.html" class="col-6 col-md-3 mb-3">
                <div class="card">
                    <img src="../images/manhphi.jpg" class="card-img-top" alt="Related Story">
                    <div class="card-body">
                        <h5 class="card-title">Manh Phi Tập Kích: Gấu Trúc Trên Trời Rơi Xuống</h5>
                    </div>
                </div>
            </a>
            <a href="Story_information.html" class="col-6 col-md-3 mb-3">
                <div class="card">
                    <img src="../images/manhphi.jpg" class="card-img-top" alt="Related Story">
                    <div class="card-body">
                        <h5 class="card-title">Manh Phi Tập Kích: Gấu Trúc Trên Trời Rơi Xuống</h5>
                    </div>
                </div>
            </a>
             <a href="Story_information.html" class="col-6 col-md-3 mb-3">
                <div class="card">
                    <img src="../images/manhphi.jpg" class="card-img-top" alt="Related Story">
                    <div class="card-body">
                        <h5 class="card-title">Manh Phi Tập Kích: Gấu Trúc Trên Trời Rơi Xuống</h5>
                    </div>
                </div>
            </a>
             <a href="Story_information.html" class="col-6 col-md-3 mb-3">
                <div class="card">
                    <img src="../images/manhphi.jpg" class="card-img-top" alt="Related Story">
                    <div class="card-body">
                        <h5 class="card-title">Manh Phi Tập Kích: Gấu Trúc Trên Trời Rơi Xuống</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
    

    <footer class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <ul>
                        <img src="../images/Book Haven (3).png" width="130px" height="130px" alt="Story Haven">
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul>
                        <li class="footer-title">Dịch vụ</li>
                        <li><a href="#">Điều khoản sử dụng</a></li>
                        <li><a href="#">Liên hệ</a></li>
                        <li><a href="#">Hệ thống nhà sách</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul>
                        <li class="footer-title">Hỗ trợ</li>
                        <li><a href="#">Chính sách đổi trả - hoàn tiền</a></li>
                        <li><a href="#">Phương thức vận chuyển</a></li>
                        <li><a href="#">Phương thức thanh toán</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul>
                        <li class="footer-title">Nhà sách bán lẻ</li>
                        <li>Giám đốc: Tào Thanh Hà | Mai Phương Anh</li>
                        <li>Địa chỉ: Đại học Phenikaa</li>
                        <li>Số điện thoại: </li>
                        <li>Email: </li>
                        <li>Facebook: </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="../javascript/Story_information.js" type="text/javascript"></script>
</body>
</html>